[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==3.0.2"
pillow = "*"
django-ckeditor = "==5.8.0"
install = "*"

[requires]
python_version = "3.6"
